.leftArrow, .rightArrow, .characterName {
    display: inline-block;
    font-size: 25px;

}
.leftArrow, .rightArrow {
    font-size: 33px;
    font-weight: bold;
    cursor: pointer;
}
.title, .characterInfWrap {
    text-align: center;
    width: 600px;
    margin: auto;
}
.characterInfWrap {
    margin-top: 50px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 5px 5px 7px rgb(97, 96, 96), -5px 5px 7px rgb(97, 96, 96);
}
.characterInfItem {
    margin-top: 2px;
}
.selectItem {
    margin-right: 5px;
}
.selectsWrap {
    width: 600px;
    margin: auto;
    margin-top: 45px;
    text-align: center;
}